<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmcc.mapper.UsersMapper">

    <resultMap id="mymap" type="com.xmcc.entity.Users" >
        <id property="id" column="id"></id>
        <result property="username" column="user_name" ></result>
        <result property="password" column="pass_word"></result>
        <result property="rid" column="rid"></result>
    </resultMap>
    <insert id="insertRtnPk" useGeneratedKeys="true" keyProperty="id">
        insert  into users(user_name,pass_word
        <if test="rid!=null and rid!=''">
            ,rid
        </if>
        ) values(#{username},#{password}
        <if test="rid!=null and rid!=''">
            ,#{rid}
        </if>
        )
    </insert>
    <insert id="insertList"  useGeneratedKeys="true" keyProperty="id">
        insert into users(id,user_name,pass_word,rid) values
        <foreach collection="users" item="user" separator=",">
            (#{user.id} ,#{user.username},#{user.password},#{user.rid})
        </foreach>
    </insert>
    <update id="updateByUserSelective">
        update users set
        <if test="username!=null and username!=''">
            user_name=#{username},
        </if>
        <if test="password!=null and password!=''">
            pass_word=#{password},
        </if>
        <if test="rid!=null and rid!=''">
            rid=#{rid},
        </if>
        id=#{id}
        where id=#{id}
    </update>
    <update id="updateDynamic">

        update users set
        <foreach collection="map" index="key" item="val" separator=",">
            ${key}=#{val}
        </foreach>
        where id=#{id}
    </update>
    <select id="findById" resultMap="mymap">
        select * from users where id=#{id}
    </select>
    <select id="findAll" resultType="com.xmcc.entity.Users">
        select
          id,
          user_name username,
          pass_word password,
          rid
        from users
    </select>


    <select id="findByUsers" resultMap="mymap">
        select * from users
        <where>
            <if test="username!=null">
                and user_name like concat('%',#{username},'%')
            </if>
        </where>

    </select>


    <select id="selectByIdOruserName" resultMap="mymap" databaseId="oracle">
        select * from users where 1=1
        <choose>
            <when test="id!=null and id!=''">
                and id=#{id}
            </when>
            <when test="username!=null and username!=''">
                and user_name=#{username}
            </when>
            <otherwise>and 1=2</otherwise>
        </choose>
    </select>


</mapper>